@tailwind base;
@tailwind components;
@tailwind utilities;

.button-dao-default {
  @apply shadow rounded-full text-white;
  opacity: 1;
  background: #a12bbe;
  &:hover {
    background: #a94dc0;
  }
}

.form-container {
  @apply w-full max-w-screen-lg;
}

#overlay{
/*　画面全体を覆う設定　*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;

}

#content{
    z-index:2;
    width:50%;
    padding: 1em;
    background:rgb(26, 24, 24);
  }